---
---

// IMPORTS
@import "reset";
@import "variables";

/* PCs */
html { overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: #61dafb; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0 auto; padding: 0; background-color: #fcfdff; font-size: 100%; }
body, button, input, select, textarea	{ font-family: sans-serif; color: #292f36; }
h1, h2, h3, h4, h5, h6 { font-family: $helveticaNeue; color: #292f36; font-weight: bold; line-height: 1.7; margin: 1em 0 15px; padding: 0; @include mobile { line-height: 1.4; } }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h2.tag { font-size: 24px; line-height: 1.6em; border-bottom: solid 2px #3e78b2; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h1.headertext { letter-spacing:0px; font-size: 30px; color: #fcfdff; line-height: 1; }
h1.subheadertext { padding: 0; margin: 0; letter-spacing:1px; font-size: 20px; font-weight: normal; color: #61dafb; }
a { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; color: #3e78b2; }
a.footer_link { color: #fcfdff; }
a:link { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; color: #3e78b2; }
a.footer_link:link { color: #fcfdff; }
a:visited, a.visited { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; color: #3e78b2; }
a.footer_link:visited { color: #fcfdff; }
a:hover, a.hover { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none; border-bottom: 3px #61dafb solid; }
a.footer_link:hover { text-decoration: underline; color: #fcfdff; }
a.anchor { display: block; position: relative; top: -250px; visibility: hidden; }
.container_odd { background-color: #fcfdff; }
.container_even { background-color: #eff0f2; }
.container { position: relative; z-index: 0; width: 960px; margin: 0 auto; padding-bottom:60px; padding-top:30px; }
.header { position:relative;  z-index: 1; margin-left: auto; margin-right: auto; background-color: #292f36; border-top: solid 2px #292f36; }
.profile_container { margin: 0 auto; margin-bottom: 20px; padding:0; list-style: none; width: 972px; height: 140px; }
.profile_image { display: block; position: relative; z-index: 1; float: left; margin-top: 30px; height: 100px; width: 100px;  background-image: url('images/profile.png'); text-align:center;
	box-shadow: 20px 0px 60px 0px rgba(0,0,0,0.6); border-radius:30px; -webkit-border-radius: 30px; }
.profile_text { position: relative; margin-left: 150px; padding-top: 15px; height: 100px; }
.nav-fixed { position: fixed; top: 0; left: 0; z-index: 10; margin: 0 auto; width: 100%; height: 33px;  background-color: #495867; overflow:hidden;  opacity:0.96;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=96)"; }
.nav { z-index: 10; margin: 0 auto; width: 100%;  height: 33px;  background-color: #495867; }
.nav a,.nav-fixed a { display: inline-block; padding: 0 12px 0 12px; text-decoration: none; color: #fcfdff; }
.nav a:visited,.nav-fixed a:visited { text-decoration: none; color: #fcfdff; }
.nav a:hover,.nav-fixed a:hover { text-decoration: none; color: #292f36; background-color: #61dafb; border: none; }
.nav li.menubutton { display: none; } 
.nav ul,.nav-fixed ul { margin: 0 auto; padding:0; width: 972px; list-style: none; }
.nav li,.nav-fixed li { float: left; padding: 0; margin: 0; line-height: 1.8em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; }
div.backtotop { display: none; }
.section { position:relative; z-index: 1; }
.section_first { position:relative; z-index: 1; margin-top: 2em; }
.row { margin-right: -20px; margin-left: -20px; }
.row:before, .row:after { display: table; content: " "; }
.row:after { clear: both; }
.row:before, .row:after { display: table; content: " "; }
.row:after { clear: both; }
.row_in	{ margin-left:auto; margin-right:auto; }
.col_c { position: relative; min-height: 1px; padding-left: 20px; padding-right: 20px; float: left; width:96%; text-align: justify; }
.col_l { position: relative; min-height: 1px; padding-left: 20px; padding-right: 0px; float: left; width:47%; text-align: justify; }
.col_r { position: relative; min-height: 1px; padding-left: 20px; float: left; width: 47%; text-align: justify; }
.cleared { float: none; clear: both; margin: 0; padding: 0; border: none; font-size: 1px; }
.footer	{ position:relative; width: 100%; border-top: solid 1px #111; background-color: #292f36; text-align:center; }
dl { float: left; margin: 1em 0 0 0; padding-top: 1em; height: 13em; border: solid 1px #bbb; border-right: none;  text-align: center; background-color: #fcfdff;
	font-size: 1em; line-height: 2em; }
dl#email { width: 31.4%; }
dl#phone { width: 29.4%; }
dl#address { width: 38.6%; border-right: solid 1px #bbb; }
dt { margin-bottom: 1.4em; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }
dl#email dd, dl#phone dd { margin-top: 0.5em; letter-spacing: -0.039em; line-height: 1.2em; }
dl#address dd { margin-top: 0.5em; margin-bottom: 0em; line-height: 1.2em; }
img { max-width:100%; height: auto; border: 0; -ms-interpolation-mode: bicubic; }
ul, ol, li { margin-left: 20px; }
p, ul, ol, dl, pre, code li { margin-top: 1.4286em; margin-bottom: 0em; font-size: 1.4em; line-height: 1.8286em; text-align: justify; }
p.large_text, ul.large_text, ol.large_text, dl.large_text { margin-top: 0.9091em; margin-bottom: 0em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.2em; line-height: 1.3636em; }
p.large_text img, ul.large_text img, ol.large_text img, dl.large_text img { margin-top: 9.9091em; }
ul.large_text li, ol.large_text li { margin-top: 0.3846em; }
p.medium_text, ul.medium_text, ol.medium_text, dl.medium_text { margin-top: 1.1111em; margin-bottom: 0em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em; line-height: 1.1111em; }
p.medium_text img, ul.medium_text img, ol.medium_text img, dl.medium_text img { margin-top: 1.1111em; }
ul.medium_text li, ol.medium_text li { margin-top: 0.5em; }
p.small_text, ul.small_text, ol.small_text, dl.small_text { margin-top: 1.6667em; margin-bottom: 0em; font-size: 1.0em; line-height: 1.6667em; }
p.small_text img, ul.small_text img, ol.small_text img, dl.small_text img { margin-top: 1.6667em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
ul.small_text li, ol.small_text li { margin-top: 0.8333em; }
p.tiny_text { margin-top: 1.6667em; margin-bottom: 0em; font-size: 0.688em; line-height: 1.6667em; color: #fcfdff; }
p.tiny_text { margin-top: 1.6667em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
ul.list-group-item { padding-top: 0; padding-bottom: 0; padding-left: 0; margin-top: 0; 
                     margin-bottom: 5px; }
li.list-group-item { line-height: 1.4em; list-style: none; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }
img { max-width: 100%; }
.date { font-style: italic; color: #495867; font-size: 0.8em; }
.posts > .post { padding-bottom: 2em; border-bottom: 1px solid #495867; }
.posts > .post:last-child { padding-bottom: 1em; border-bottom: none; }
.post {
        blockquote { margin: 1.8em .8em; border-left: 2px solid #495867; padding: 0.1em 1em;
                     color: #495867; font-size: 21px; font-style: italic; }
        .comments { margin-top: 10px; }
        .read-more { text-transform: uppercase; font-size: 15px; line-height: 40px; } }
.footer	{ width:100%; margin-top:60px; position:relative; text-align:center; background-color: #292f36; }
.post-tags { margin-top: 0px; padding-top: 0px; border-left: solid 6px #3e78b2; 
             background-color: #d2d9df; padding-left: 10px; }
.post-meta { padding-top: 2px; margin-top: 0px; padding-bottom: 2px; margin-bottom: 0px;
             font-size: 18px; 
             @include mobile { line-height: 1.3em; } }
.tag-content { margin-top: 50px; }
.list-group { margin-bottom: 20px; padding-left: 0; }
.share { margin-top: 30px; margin-bottom: 30px; padding-top: 10px; padding-bottom: 10px; 
         border-left: solid 6px #3e78b2; background-color: #d2d9df; font-size: 0.8em; 
         padding-left: 10px; padding-right: 10px; }
p.footer { margin-top: 0em; margin-bottom: 0em; color: #fcfdff; font-family: $helveticaNeue; 
           font-size: 0.8em; line-height: 1.6667em; text-align: center; padding-top: 15px; padding-bottom: 15px; }
a.footer_link { color: #fcfdff; font-family: Arial, Helvetica, Sans-Serif; }
a.footer_link:link { color: #fcfdff; }
a.footer_link:visited { color: #fcfdff; }
a.footer_link:hover { text-decoration: underline; color: #fcfdff; }
.center-image { display: block; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; }
.center-image-full { display: block; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; width: 100%; }

/* Mobiles */
html body { @include mobile { max-width: 100%; overflow-x: hidden; } }
h1.headertext { @include mobile { font-size: 28px; text-align: center; } }
h1.subheadertext { @include mobile { font-size: 18px; text-align: center; } }
.profile_container { @include mobile { margin-left: auto; margin-right: auto; width: 100%; height: auto; } }
.profile_image { @include mobile { float: none; margin-left: auto; margin-right: auto; margin-top: 10px; } }
.profile_text { @include mobile { float: none; margin: 0; padding-top: 0; height: auto; text-align: center; } }
.nav-fixed { @include mobile { margin: auto; width: 100%; height: auto; text-align: center; } }
.nav-fixed ul { @include mobile { display: none; } }
.nav { @include mobile { margin: 0 auto; padding-top: 10px; padding-bottom: 10px; height: auto; width: 100%; text-align: center; } }
.nav ul { @include mobile { margin: auto; height: 28px; width: 35px; border-bottom: 17px double #fcfdff; border-top: 6px solid #fcfdff; text-align: center; content:""; } }
.nav li { @include mobile { display: none; } }
.nav a { @include mobile { display: block;  text-align: center; } }
.nav ul:hover, .nav ul:active { @include mobile { height: 100%; width: 100%; background-position: top center; border: none; } }
.nav ul:hover li, .nav ul:active li { @include mobile { display: block; float: none; margin: 0 0 2px; border-left: none; text-align: center; } }
.nav ul:hover li.menubutton, .nav ul:active li.menubutton { @include mobile { display: inline-block; height: 28px; width: 35px; border-bottom: 17px double #61dafb;
	border-top: 6px solid #61dafb; content:""; } }
.nav div.backtotop { @include mobile { display: none; } }
.nav-fixed div.backtotop { @include mobile { display: block; float: none; padding-top: 10px; padding-bottom: 10px;  } }
.nav-fixed div.backtotop a, .nav-fixed div.backtotop a:visited, .nav-fixed div.backtotop a:hover { @include mobile { display: inline;  background-color: #495867; 
	border: 1px solid #fcfdff; color: #fcfdff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.6em; font-weight: bold; } }
.nav-fixed div.backtotop a:active { @include mobile { background-color: #61dafb; border: 1px solid #61dafb; color: #495867; } }
.container { @include mobile { z-index: 0; width: 90%; } }
a.anchor { @include mobile { display: block; position: relative; visibility: hidden; top: -40px; } }
.col_c	{ @include mobile { width:90%; } }
.col_l	{ @include mobile { width:90%; } }
.col_r	{ @include mobile { width:90%; } }
dl { @include mobile { float: none; padding-bottom: 0.87em; margin: 0; height: auto; border: solid 1px #bbb; border-bottom: none; text-align: left; } }
dl.small_text { @include mobile { margin-top: 0em; line-height: 1.2em; } }
dl#email { @include mobile { margin-top: 1em; } }
dl#address { @include mobile { border-bottom: solid 1px #bbb; } }
dl#email, dl#phone, dl#address { @include mobile { padding-left: 3%; width: 95.5%; } }
dt { @include mobile { float: left; padding-right: 3%; margin-bottom: 0; width: 22%; font-size: 1.0em; } }
dd { @include mobile { margin-left: 30%; margin-bottom: 0.5em; } }
dl#email dd, dl#phone dd, dl#address dd { @include mobile { margin-top: 0; } }

// Fixes and Hacks
.gmnoprint img { max-width: none; }

// Specify the color of the selection
::-moz-selection { color: #292f36; background: #495867; }
::selection { color: #292f36; background: #495867; }

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

// Tablets
@media only screen and (min-width: 640px) and (max-width: 974px) {
.profile_container { width: 720px; }
.nav ul	{ width: 720px; }
.nav a { padding: 0 6px 0 6px; }
.container { width: 720px; position: relative; }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
