<p class="post-meta">
  If you liked this post, you can
  <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=giorgoskappes" target="_blank">
    share it with your followers</a> or
  <a href="https://twitter.com/geokapp">
    follow me on Twitter</a>!
</p>
