---
layout: default
---

<h1> {{ page.tag }}</h1>
<div class="tag-content">
  {% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
  {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if forloop.first %}
  <h2 class="tag">{{ post_year }}</h2><div class="list-group">
    {% endif %}
    
    {% if forloop.first == false %}
    {% assign previous_index = forloop.index0 | minus: 1 %}
    {% capture previous_post_year %}{{ site.tags[page.tag][previous_index].date | date: '%Y' }}{% endcapture %}
    {% if post_year != previous_post_year %}
  </div><h2 class="tag">{{ post_year }}</h2><div class="list-group">
    {% endif %}
    {% endif %}
    <ul class="list-group-item">
      <li class="list-group-item"> 
        <a href="{{ site.baseurl }}{{ post.url }}/">
          {{ post.date | date:"%b %d" }} - {{ post.title }}  
        </a>
      </li>
    </ul>
    {% if forloop.last %}
  </div>
  {% endif %}
  {% endfor %}
  {% else %}
  <p>There are no posts for this tag.</p>
  {% endif %}
</div>
