---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="entry">
    <div class="post-tags">
      {% assign post = page %}
      {% if post.tags.size > 0 %}
      {% capture tags_content %}
      Tags {% if post.tags.size == 1 %}
      <i class="fa fa-tag"></i>
      {% else %}
      <i class="fa fa-tags"></i>
      {% endif %}:
      {% endcapture %}
      {% for post_tag in post.tags %}
      {% for data_tag in site.data.tags %}
      {% if data_tag.slug == post_tag %}
      {% assign tag = data_tag %}
      {% endif %}
      {% endfor %}
      {% if tag %}
      {% capture tags_content_temp %}
      {{ tags_content }}
      <a href="{{ site.baseurl }}/resources/tag/{{ tag.slug }}/">{{ tag.name }}</a>
      {% if forloop.last == false %},
      {% endif %}
      {% endcapture %}
      {% assign tags_content = tags_content_temp %}
      {% endif %}
      {% endfor %}
      {% else %}
      {% assign tags_content = '' %}
      {% endif %}
      
      <p class="post-meta">{{ tags_content }}</p>
    </div>    
    {{ content }}
  </div>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="share">
    {% include twitter_plug.html %}
  </div>
  
  {% include disqus.html %}
</article>
